.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  transition: background-color 0.3s ease;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  list-style: none; 
  padding: 0;
}

.gridItem:hover {
  background-color: #e0e0e0;
}

.gridItem {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.gridItem a {
  text-decoration: none;
  color: #000;
}

.gridItem a:hover {
  color: #0070f3;
}
